---
import Star from '../icons/Star.astro'
---

<section
  class='w-full relative flex flex-col justify-center py-20 px-40 max-sm:px-5 max-sm:py-5 h-[70%]'
>
  <h1 class='text-4xl font-Baloo font-bold'>
    Found<strong class='text-primary'>ers</strong>
  </h1>
  <p
    class='text-xl max-sm:text-base block w-[70%] max-sm:w-full mt-5 leading-10 max-sm:leading-7 opacity-80'
  >
    Para Hobby, crear la mayor cantidad de sonrisas en los apasionados es el
    mayor logro que podemos alcanzar. En un mundo cada vez más desconectado,
    crear 30 segundos de contenido que muestre felicidad, amor y el talento de
    las personas es suficiente para nosotros. Gracias por crecer y seguir
    avanzando.
  </p>
  <div class='absolute top-10 right-[28%] max-sm:hidden z-50'>
    <Star class='absolute left-0 top-10' />
    <Star class='absolute left-20 top-56' />
    <Star class='absolute w-7 h-7 left-0 top-40' />
    <Star class='absolute w-7 h-7 left-32 top-24' />
  </div>
  <p class='mt-10 text-xl font-Baloo font-bold'>
    CEO. Juan ALcalá / CTO. Jesus Alcalá
  </p>
</section>
