---
import Hobby from '../icons/Hobby.astro'
import Facebook from '../icons/socials/Facebook.astro'
// import Instagram from '../icons/socials/Instagram.astro'
import Youtube from '../icons/socials/Youtube.astro'
---

<footer
  id='footer'
  class='h-auto py-8 w-screen max-sm:h-auto bg-dark flex-col flex items-center justify-center'
>
  <div class='h-auto py-8 w-[80%] flex flex-row max-sm:flex-wrap'>
    <div class='flex flex-col w-[20%] max-sm:w-full'>
      <div class='flex flex-row gap-x-4 items-center'>
        <Hobby />
        <p class='text-3xl font-semibold'>Hobby</p>
      </div>
      <div class='flex flex-col gap-y-5 mt-10'>
        <p>Siguenos:</p>
        <div class='flex flex-row items-center gap-x-5'>
          <a
            href='https://www.facebook.com/hobbyAppStartup'
            title='Facebook de Hobby'
            target='_blank'
          >
            <Facebook />
          </a>
          <!-- <Instagram /> -->
          <a
            href='https://www.youtube.com/@hobby-i6n'
            target='_blank'
            title='Youtube de Hobby'
          >
            <Youtube />
          </a>
        </div>
      </div>
    </div>
    <div
      class='flex flex-row pb-28 max-sm:pb-16 max-sm:gap-y-5 gap-x-16 w-[80%] max-sm:w-full max-sm:flex-col justify-center max-sm:justify-start max-sm:mt-10 max-sm:flex-wrap'
    >
      <div class='flex flex-col'>
        <p class='text-xl font-medium mb-2'>Servicios</p>
        <ul class='flex flex-col gap-y-3' title='Links a servicios'>
          <li>
            <a
              class='opacity-40 font-light'
              title='Link a Hobby Academy'
              href='#'>Hobby Academy</a
            >
            <p class='text-xs font-extralight'>Proximamente!</p>
          </li>
          <li>
            <a
              class='opacity-40 font-light'
              title='Link a Hobby Developer'
              href='#'>Tools Developer</a
            >
          </li>
        </ul>
      </div>
      <div class='flex flex-col'>
        <p class='text-xl font-medium mb-2'>Ayuda</p>
        <ul class='flex flex-col gap-y-3' title='Links a ayuda'>
          <li>
            <a class='opacity-40 font-light' title='Soporte de Hobby' href='#'
              >Soporte</a
            >
          </li>
          <li>
            <a
              class='opacity-40 font-light text-white'
              title='Bugs de Hobby'
              href='#'>Bugs</a
            >
          </li>
        </ul>
        <p class='text-xl font-medium mt-3'>Noticias</p>
        <ul class='flex flex-col gap-y-3' title='Noticias de Hobby'>
          <li>
            <a class='opacity-40 font-light' title='Blog de Hobby' href='#'
              >Blog</a
            >
          </li>
        </ul>
      </div>
      <div class='fkex flex-col'>
        <p class='text-xl font-medium mb-2'>Condiones Politicas</p>
        <ul class='flex flex-col gap-y-3' title='Condiciones de uso de Hobby'>
          <li>
            <a
              class='font-light'
              title='Politicas de privacidad de Hobby'
              href='/policy'>Politicas de privacidad</a
            >
          </li>
          <li>
            <a
              class='font-light'
              title='Condciones de uso de Hobby'
              href='/comunity-rules'>Condiones</a
            >
          </li>
        </ul>
      </div>
    </div>
  </div>
  <section
    class='border-t-white/20 border-t-2 w-[80%] py-8 flex flex-row justify-between'
  >
    <p>© 2024 Hobby</p>
  </section>
</footer>
