---
import Facebook from '../icons/socials/Facebook.astro'
import Star from '../icons/Star.astro'
import Youtube from '../icons/socials/Youtube.astro'
---

<footer
  id='footer'
  class='h-screen w-screen bg-neutral-950 flex-col flex items-center justify-center'
>
  <section
    class='w-full relative flex flex-col justify-center py-20 px-40 max-sm:px-5 max-sm:py-5 h-[70%]'
  >
    <h1 class='text-4xl text-title font-bold'>
      Found<span class='text-title text-primary'>ers</span>
    </h1>
    <p
      class='text-xl max-sm:text-base block w-[70%] max-sm:w-full mt-5 leading-10 max-sm:leading-7 opacity-80'
    >
      Para Hobby, crear la mayor cantidad de sonrisas en los apasionados es el
      mayor logro que podemos alcanzar. En un mundo cada vez más desconectado,
      crear 30 segundos de contenido que muestre felicidad, amor y el talento de
      las personas es suficiente para nosotros. Gracias por crecer y seguir
      avanzando.
    </p>
    <div class='absolute top-10 right-[28%] max-sm:hidden z-50'>
      <Star class='absolute left-0 top-10 blur-[3px]' />
      <Star class='absolute left-20 top-56 blur-[3px]' />
      <Star class='absolute w-7 h-7 left-0 top-40 blur-[3px]' />
      <Star class='absolute w-7 h-7 left-32 top-24 blur-[3px]' />
    </div>
    <p class='mt-10 text-xl text-title font-bold'>
      CEO. Juan ALcalá / CTO. Jesus Alcalá
    </p>
  </section>
  <section
    class='h-[30%] w-[80%] max-sm:w-full max-sm:flex-row max-sm:flex-wrap border-t-2 flex-col flex border-t-primary'
  >
    <ul
      class='flex flex-row items-center justify-center max-sm:flex-wrap max-sm:flex-col flex-1 gap-x-14'
    >
      <li>
        <a href='/policy' class='hover:text-primary transition-colors'
          >Políticas y privacidad</a
        >
      </li>
      <li>
        <a href='/comunity-rules' class='hover:text-primary transition-colors'
          >Normas de la comunidad</a
        >
      </li>
      <li class='flex flex-row items-center gap-x-5'>
        <p>Siguenos en:</p>
        <a
          title='Link Youtube'
          href='https://www.youtube.com/@hobby-i6n'
          target='_blank'
          class='block hover:scale-110 hover:cursor-pointer transition focus:outline focus:outline-1 focus:outline-white focus:outline-offset-2'
        >
          <Youtube class='w-10 h-10' />
        </a>
        <a
          title='Link Facebook'
          href='https://www.facebook.com/hobbyAppStartup'
          target='_blank'
          class='block hover:scale-110 hover:cursor-pointer transition focus:outline focus:outline-1 focus:outline-white focus:outline-offset-2'
        >
          <Facebook class='w-9 h-9' />
        </a>
      </li>
    </ul>
  </section>
</footer>

<style>
  .text-title {
    font-family: 'Baloo 2 Variable', system-ui;
  }
</style>
