---
import SectionImageInformation from './SectionImageInformation.astro'
import SectionImages from './SectionImages.astro'
---

<main class='main_bg h-auto w-screen'>
  <SectionImages />
  <SectionImageInformation />
</main>

<style>
  .main_bg {
    background-size: cover;
    background-position: center;
    background-repeat: no-repeat;
    background-image: url(/linear-gradient/linear-section-img.webp);
  }
</style>
