---
import Crown from '../icons/Crown.astro'
import Escaletor from '../icons/Escaletor.astro'
import Img from '../icons/Img.astro'
import UserStar from '../icons/UserStar.astro'
---

<section
  id='concern'
  class='h-screen w-full flex flex-row max-sm:flex-col bg-transparent'
>
  <divs
    class='flex flex-col pl-40 pt-24 max-sm:pl-0 max-sm:pt-0 w-[50%] max-sm:w-full'
  >
    <h3
      class='text-3xl max-sm:text-xl max-sm:mt-5 max-sm:text-center max-sm:px-3 font-extrabold text-title'
    >
      ¿Tienes dudas? Descubre cómo sacarle el máximo <span
        class='text-3xl font-extrabold max-sm:text-xl text-primary text-title'
        >provecho a Hobby</span
      >
    </h3>
    <div
      class='flex w-[70%] max-sm:w-full justify-start flex-col max-sm:mt-5 mt-12 gap-y-8 max-sm:pt-5 py-10
        border-l-2 max-sm:border-l-0 border-l-primary'
    >
      <button
        id='what-apasionado'
        class='button-info w-auto flex flex-row gap-x-5 items-center min-h-10 max-sm:text-lg text-xl pl-8 text-left'
      >
        <UserStar class='max-sm:w-12 max-sm:h-12' />
        Que es un apasionado?
      </button>
      <button
        id='capshot-bycuts'
        class='button-info w-auto flex flex-row gap-x-5 items-center min-h-10 max-sm:text-lg text-xl pl-8 text-left'
      >
        <Img class='max-sm:w-12 max-sm:h-12' />
        Capshot y bycuts
      </button>
      <button
        id='crown'
        class='button-info w-auto flex flex-row gap-x-5 items-center min-h-10 text-xl max-sm:text-lg pl-8 text-left'
      >
        <Crown class='text-primary max-sm:w-12 max-sm:h-12' />
        Tipos de reacciones
      </button>
      <button
        id='ranking'
        class='button-info w-auto flex flex-row gap-x-5 items-center max-sm:text-lg min-h-10 text-xl pl-8 text-left'
      >
        <Escaletor class='max-sm:w-12 max-sm:h-12' />
        Función del Ranking
      </button>
    </div>
  </divs>
  <div
    class='w-[50%] max-sm:mt-2 max-sm:w-[80%] mx-auto max-sm:h-[29%] mt-20 items-center justify-center flex'
  >
    <img
      id='img-info'
      class='bg-cover'
      src='/image-information/what-apasionado.webp'
      alt='imagenes sobre las funcionalidades de la aplicación'
    />
  </div>
</section>
<script is:inline>
  ;(() => {
    const $imgInfo = document.querySelector('#img-info')
    const buttons = document.querySelectorAll('.button-info')
    buttons.forEach((button) => {
      button.addEventListener('mouseenter', () => {
        buttons.forEach((btn) => {
          if (btn !== button && !btn.classList.contains('selected')) {
            btn.classList.remove('hovered')
          }
        })
        if (!button.classList.contains('selected')) {
          button.classList.add('hovered')
        }
        switch (button.id) {
          case 'what-apasionado':
            $imgInfo.src = '/image-information/what-apasionado.webp'
            break
          case 'capshot-bycuts':
            $imgInfo.src = '/image-information/type-publication.webp'
            break
          case 'crown':
            $imgInfo.src = '/image-information/type-action.webp'
            break
          case 'ranking':
            $imgInfo.src = '/image-information/ranking.webp'
            break
          default:
            break
        }
        $imgInfo.classList.add('animation-fade-in-up')
      })
      button.addEventListener('mouseleave', () => {
        if (!button.classList.contains('selected')) {
          button.classList.remove('hovered')
        }
        $imgInfo.classList.remove('animation-fade-in-up')
      })
      button.addEventListener('click', () => {
        buttons.forEach((btn) => {
          btn.classList.remove('selected', 'hovered')
        })
        button.classList.add('selected', 'hovered')
        switch (button.id) {
          case 'what-apasionado':
            $imgInfo.src = '/image-information/what-apasionado.webp'
            break
          case 'capshot-bycuts':
            $imgInfo.src = '/image-information/type-publication.webp'
            break
          case 'crown':
            $imgInfo.src = '/image-information/type-action.webp'
            break
          case 'ranking':
            $imgInfo.src = '/image-information/ranking.webp'
            break
          default:
            break
        }
        $imgInfo.classList.add('animation-fade-in-up')
      })
    })
  })()
</script>

<style>
  .transition-scale {
    transition: all ease-in 500ms;
    transition-timing-function: cubic-bezier(0.075, 0.82, 0.165, 1);
  }

  .animation-fade-in-up {
    animation-name: fade-in-up;
    animation-duration: 500ms;
    animation-timing-function: cubic-bezier(0.075, 0.82, 0.165, 1);
    animation-iteration-count: 1;
    animation-fill-mode: both;
  }

  @keyframes fade-in-up {
    from {
      opacity: 0;
      transform: translateY(120px);
    }
    to {
      opacity: 1;
      transform: translateY(0);
    }
  }

  .button-info {
    opacity: 0.4;
    transition: opacity 0.3s ease;
  }

  .button-info.hovered,
  .button-info.selected {
    opacity: 1;
  }

  .selected {
    background-color: rgba(0, 0, 0, 0.1);
  }

  .text-title {
    font-family: 'Baloo 2 Variable', system-ui;
  }
</style>
