<section
  class='w-screen [content-visibility:auto] relative bg-dark h-screen max-sm:h-auto max-sm:py-12 flex items-center justify-center'
>
  <img
    class='absolute top-[50%]'
    alt='linea de decoración'
    src='/image-movil/line.webp'
  />
  <div
    class='absolute w-[40%] h-[450px] max-sm:h-[160px] top-20 left-44 -rotate-[5deg] max-sm:left-4 max-sm:w-[60%] max-sm:top-8 bg-primary rounded-2xl'
  >
  </div>
  <lite-youtube
    class='w-[65%] h-[70%] max-sm:w-[80%] max-sm:h-[200px] z-10 shadow-2xl shadow-neutral-950/40 rounded-2xl'
    videoid='o-BSOmfpABw'></lite-youtube>
</section>
