---
import VideoPlayer from '../react/Video'
---

<section
  id='content'
  class='w-screen max-sm:h-auto [content-visibility:auto] h-screen items-center py-10 max-sm:py-4 flex flex-col section-alcoiris'
>
  <div class='flex flex-col w-[80%] max-sm:w-[90%] max-sm:gap-y-2'>
    <h3 class='font-Baloo text-3xl max-sm:text-xl font-extrabold'>
      Hobbies compartidos
    </h3>
    <p class='text-xl max-sm:text-base block w-full'>
      Inspírate con nuestros usuarios apasionados
    </p>
  </div>

  <div
    class='flex flex-row w-[80%] mt-6 [content-visibility:auto] max-sm:w-[90%] max-sm:justify-center max-sm:flex-wrap justify-between gap-x-16 max-sm:pt-4 max-sm:mt-0 max-sm:gap-y-5'
  >
    <VideoPlayer
      description='Arte'
      icon={'ART'}
      src='https://res.cloudinary.com/djogmzm9s/video/upload/v1729870467/video-landing_sifeak.mp4'
      client:visible
    />
    <VideoPlayer
      description='Musica'
      icon={'MUSIC'}
      src='https://res.cloudinary.com/djogmzm9s/video/upload/v1729730475/El_texto_del_p%C3%A1rrafo_uyhjpq.mp4'
      client:visible
    />
    <VideoPlayer
      description='Gamer'
      icon={'GAMER'}
      src='https://res.cloudinary.com/djogmzm9s/video/upload/v1729717139/video-landing-3_tnwawt.mp4'
      client:visible
    />
  </div>
</section>

<style>
  /* 🤣😂 */
  .section-alcoiris {
    background: linear-gradient(
      to bottom,
      #8700c7 0%,
      #ab5c6a 57%,
      #cfb80c 100%
    );
  }
</style>
