---
import Layout from '../layouts/Layout.astro'
---

<Layout
  title='Normas de la comunidad de Hobby'
  description='En Hobby, queremos que la experiencia de compartir tus pasiones sea enriquecedora, respetuosa y segura. Al formar parte de nuestra comunidad,aceptas seguir estas normas para crear un espacio donde todos puedan compartir y disfrutar de sus hobbies favoritos.'
>
  <div
    class='w-[90%]
max-sm:w-full mx-auto py-6 max-sm:px-2 border-b-2 border-b-gray-400'
  >
    <h1 class='text-3xl
max-sm:text-2xl pt-8 font-semibold'>
      Normas de la comunidad
    </h1>
    <p class='text-base max-sm:text-sm w-[80%] max-sm:w-full mt-8 opacity-90'>
      En Hobby, queremos que la experiencia de compartir tus pasiones sea
      enriquecedora, respetuosa y segura. Al formar parte de nuestra comunidad,
      aceptas seguir estas normas para crear un espacio donde todos puedan
      compartir y disfrutar de sus hobbies favoritos.
    </p>
  </div>
  <ul class='w-[90%] flex flex-col gap-y-14 mx-auto my-10'>
    <li>
      <h4 class='text-lg font-bold'>Información que recopilamos</h4>
      <ul class='ml-5 mt-5
flex flex-col gap-y-5'>
        <li>
          • Trata a los demás usuarios con respeto. Cualquier tipo de acoso,
          bullying, insultos, lenguaje ofensivo o despectivo no será tolerado.
        </li>
        <li>
          • Evita los comentarios dañinos sobre los hobbies o las habilidades de
          otros usuarios. <span class='font-semibold'>Hobby</span> es un espacio
          de apoyo y crecimiento.
        </li>
      </ul>
    </li>
    <li>
      <h4 class='text-lg
font-bold'>Contenido apropiado</h4>
      <ul class='ml-5 mt-5 flex flex-col gap-y-5'>
        <li>
          • No compartas información personal ni de otros usuarios sin su
          consentimiento (nombres completos, direcciones, números de teléfono,
          etc.).
        </li>
        <li>
          • Respeta la privacidad de los demás en tus interacciones. Las
          conversaciones privadas deben mantenerse en privado.
        </li>
      </ul>
    </li>
    <li>
      <h4 class='text-lg font-bold'>Protección de la privacidad</h4>
      <ul class='ml-5 mt-5
flex flex-col gap-y-5'>
        <li>
          • Comparte imágenes y videos que representen tus hobbies de forma
          creativa y positiva.
        </li>
        <li>
          • No se permite contenido que incite al odio, violencia,
          discriminación o que sea sexualmente explícito.
        </li>
        <li>
          • Está prohibido compartir contenido gráfico, violento o peligroso que
          pueda dañar la sensibilidad de los demás.
        </li>
      </ul>
    </li>
    <li>
      <h4 class='text-lg font-bold'>Propiedad intelectual</h4>
      <ul class='ml-5 mt-5 flex
flex-col gap-y-5'>
        <li>
          • Comparte únicamente contenido que te pertenezca o del que tengas
          derechos para publicar. No infrinjas los derechos de autor ni plagies
          el contenido de otros usuarios.
        </li>
        <li>
          • Si compartes contenido inspirado en el trabajo de otro, da el debido
          crédito.
        </li>
      </ul>
    </li>
    <li>
      <h4 class='text-lg font-bold'>Autenticidad</h4>
      <ul class='ml-5 mt-5 flex flex-col
gap-y-5'>
        <li>
          • Publica contenido genuino sobre tus hobbies. No está permitido
          compartir información falsa, engañosa o manipulada que pueda confundir
          a la comunidad.
        </li>
        <li>
          • Fomentamos la creatividad, pero también la honestidad. Evita la
          autopromoción excesiva, el spam o el uso de la plataforma únicamente
          con fines comerciales.
        </li>
      </ul>
    </li>
    <li>
      <h4 class='text-lg
font-bold'>Cuidado al compartir actividades</h4>
      <ul class='ml-5 mt-5 flex
flex-col gap-y-5'>
        <li>
          • Comparte actividades y hobbies que sean seguros y legales. Hobby no
          permite la promoción de actividades peligrosas o ilegales.
        </li>
        <li>
          • Asegúrate de que cualquier actividad que promuevas o muestres en tu
          contenido respete las leyes locales y no ponga en riesgo a otros
          usuarios.
        </li>
      </ul>
    </li>
    <li>
      <h4 class='text-lg font-bold'>Interacción con la comunidad</h4>
      <ul class='ml-5 mt-5 flex flex-col gap-y-5'>
        <li>
          • Participa en la comunidad de forma constructiva. Si dejas
          comentarios o respondes a otros usuarios, hazlo de manera amable y
          útil.
        </li>
        <li>
          • Usa los hashtags de manera responsable para que otros usuarios
          puedan encontrar y disfrutar de tu contenido relacionado con su hobby.
        </li>
      </ul>
    </li>
    <li>
      <h4 class='text-lg font-bold'>Denuncias y moderación</h4>
      <ul class='ml-5 mt-5 flex flex-col gap-y-5'>
        <li>
          • Si encuentras contenido que viola estas normas, utiliza las
          herramientas de denuncia para informarnos. Nuestro equipo de
          moderación revisará cada caso.
        </li>
        <li>
          • El incumplimiento de las normas puede resultar en la eliminación de
          contenido o la suspensión temporal o permanente de tu cuenta.
        </li>
      </ul>
    </li>
    <li>
      <h4 class='text-lg font-bold'>Uso responsable del botón de donaciones</h4>
      <ul class='ml-5 mt-5 flex flex-col gap-y-5'>
        <li>
          • Si habilitas el botón de donaciones, asegúrate de cumplir con todos
          los requisitos legales y fiscales de tu país.
        </li>
        <li>
          • Sé transparente con la comunidad sobre cómo utilizarás las
          donaciones que recibas.
        </li>
      </ul>
    </li>
    <li>
      <h4 class='text-lg
font-bold'>Consejos para volverse famoso</h4>
      <ul class='ml-5 mt-5 flex flex-col
gap-y-5'>
        <li>
          • Si bien Hobby fomenta el crecimiento de perfiles y la exposición de
          talentos, el uso de bots, servicios de manipulación de seguidores o
          cualquier práctica engañosa está prohibido.
        </li>
        <li>
          • La autenticidad y la creatividad son los caminos más valiosos hacia
          el éxito en nuestra comunidad.
        </li>
      </ul>
    </li>
  </ul>
</Layout>
