.countdown-number {
  font-size: 3rem;
  top: 0;
  position: absolute;
  width: 100%;
  transition:
    transform 0.5s ease,
    opacity 0.5s ease;
}

.hidden {
  visibility: hidden;
  opacity: 0;
}

.slide-up-enter {
  animation: slide-up-enter 0.5s ease-in-out forwards;
}

.slide-up-exit {
  animation: slide-up-exit 0.5s ease-in-out forwards;
}

@keyframes slide-up-enter {
  0% {
    opacity: 0;
    transform: translateY(100%);
  }
  100% {
    opacity: 1;
    transform: translateY(0);
  }
}

@keyframes slide-up-exit {
  0% {
    opacity: 1;
    transform: translateY(0);
  }
  100% {
    opacity: 0;
    transform: translateY(-100%);
  }
}

.countdown-container {
  position: relative;
  display: flex;
  justify-content: center;
}

.countdown-digit-container {
  position: relative;
  width: 1.5rem;
}

.countdown-container {
  display: flex;
  gap: 0.5rem;
}

.flex {
  gap: 2rem;
}
